<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
let message = "";
switch (status) {
    case 'average':
        icon = '#it-warning-circle';
        message = failureTitle;
        break;

    default:
        icon = '#it-info-circle';
        message = title;
        break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content-info">
    <h2 class="h5 audit-title">
        <%= message %>
    </h2>
    <div class="separator"></div>
    <div class="audit-description">
        <p>
            Nel caso in cui il sito comunale presenti livelli di performance (media pesata di 6 metriche standard)
            inferiori a 50, secondo quanto calcolato e verificato tramite le
            <a href="https://web.dev/performance-scoring/">librerie Lighthouse</a>, il Comune pubblica sul sito comunale un «Piano di
            miglioramento del sito» che mostri, per ciascuna voce che impatta negativamente la performance, le azioni
            future di miglioramento della performance stessa e le relative tempistiche di realizzazione attese.
            RIFERIMENTI TECNICI E NORMATIVI: <a href="https://docs.italia.it/italia/designers-italia/design-comuni-docs/it/versione-corrente/index.html">Documentazione del Modello
                Comuni</a>, <a href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/it/versione-attuale/requisiti-e-modalita-verifica-comuni.html#criterio-c-si-4-1-velocita-e-tempi-di-risposta">Documentazione delle App di
                valutazione</a>.
        </p>

    </div>
</div>