<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = '#it-info-circle';
let message = mainTitle;
%>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
    <h2 class="h3 audit-title">
        <svg class="icon info" aria-hidden="true">
            <use href="<%= icon %>"></use>
        </svg>
        <%= code%> <%= message %>
    </h2>
    <h5>
        Raccomandazioni di carattere informativo e generale
    </h5>
    <div class="separator"></div>
    <div class="audit-description">
        <p>La scuola deve mettere a riuso sotto licenza aperta il software secondo le Linee Guida “acquisizione e riuso di software e riuso di software per le pubbliche amministrazioni“.</p>
        <p>
            <span class="h6 uppercase">RIFERIMENTI TECNICI E NORMATIVI:</span> <a target="_blank" href="https://docs.italia.it/italia/piano-triennale-ict/codice-amministrazione-digitale-docs/it/stabile/_rst/capo_VI-articolo_69.html">CAD: Art. 69. (Riuso delle soluzioni e standard aperti)</a>,
            <a target="_blank" href="https://www.agid.gov.it/it/design-servizi/riuso-open-source/linee-guida-acquisizione-riuso-software-pa">AgID Linee guida su acquisizione e riuso di software per le pubbliche amministrazioni</a>.
        </p>

    </div>
</div>