<div class="accordion-body">
  <div class="row">
    <div class="col-3">
      <div class="nav nav-tabs nav-tabs-vertical" role="tablist" aria-orientation="vertical">
        <% items.forEach(({ id, code, mainTitle, status }, index) => { %>
        <%- include('tabs/tab-button', { id, code, mainTitle, status, index }); %>
        <% }) %>
      </div>
    </div>
    <div class="col-9" style="padding-right: 0;">
      <div class="tab-content">
        <% items.forEach((audit, index) => { %>
        <%- include('tabs/tab-pane', { audit, index }); %>
        <% }) %>
      </div>
    </div>
  </div>
</div>