<footer>
  <div class="container">
    <!-- TODO: don't use <a> with no href -->
    <a>
      Versione Crawler:
      <%= crawler_version %>
    </a>
    <a href="https://innovazione.gov.it/" target="_blank">Dipartimento per la trasformazione digitale</a>
  </div>
</footer>