<div class="top-text">
  <p>
    Ai fini dell'adesione alla misura 1.4.1 Esperienza del cittadino nei servizi pubblici, il rispetto dei criteri di
    conformità è requisito necessario al rilascio degli incentivi.
  </p>
  <p>
    È possibile trovare tutte le informazioni su come aderire ai criteri di conformità nel capitolo
    <a target="_blank" href="https://docs.italia.it/italia/designers-italia/design-comuni-docs/it/versione-corrente/conformita.html" target="_blank">Conformità al modello Comuni</a>
    e nel documento
    <a target="_blank" href="https://designers.italia.it/files/resources/modelli/misura/Allegato2-Completamento-attivita-e-verifiche-tecniche-Avvisi-141.pdf" target="_blank">Allegato 2 - Completamento delle attività e verifiche tecniche Avvisi 1.4.1 (PDF 1.3MB).</a>
  </p>
  <p>
    <b>RIFERIMENTI TECNICI E NORMATIVI:</b>
    <a target="_blank" href="https://docs.italia.it/italia/designers-italia/design-comuni-docs/it/versione-corrente/index.html" target="_blank">Documentazione del Modello Comuni, Documentazione delle App di valutazione.</a>
  </p>
  <p class="text-decoration-underline">
    Il seguente report non esaurisce e non completa tutte le verifiche da effettuarsi per il completo raggiungimento
    degli obiettivi relativi alla misura 1.4.1
  </p>
  <p>Per maggiori informazioni scopri Come Leggere il Report</p>
</div>