.audits-list {
  border-right: 1px solid $border-color;
}

.audit-content {
  overflow-y: auto;
  padding: 2rem 0 1rem 3rem;

  p {
    font-size: 1rem;
  }

  .audit-title {
    margin-bottom: 1.5rem;
    position: relative;

    svg {
      position: absolute;
      top: 5px;
      left: -40px;

      &.pass {
        stroke: $success;
      }
      &.average {
        stroke: $warning;
      }
      &.fail {
        stroke: $error;
      }
    }
  }
}
