/* MAIN */
main {
  min-height: calc(100vh - 120px - 56px);
}

/* TEXTS */
.uppercase {
  text-transform: uppercase;
}
.text--fail {
  color: $error;
}
.text--average {
  color: $warning;
}
.text--pass {
  color: $success;
}

/* SEPARATOR */
.separator {
  width: 100%;
  height: 1px;
  background-color: $border-color;
  margin-bottom: 1rem;
}
