// COLORS
$white: #ffffff;
$black: #000000;
$primary: var(--bs-primary);
$secondary: var(--bs-secondary);

$border-color: #c5c7c9;

$bg-light: #f2f7fc;
$bg-dark: var(--bs-dark);

$success: #5cc98d;
$warning: #c68700;
$error: #bc4050;
