<div class="table-wrapper">
    <table class="table">
        <thead>
        <tr> <% table.headings.forEach(h => { %>
                <th>
                    <%- h %>
                </th>
            <% }); %>
        </tr>
        </thead>
        <tbody>
        <% table.pages.forEach(item => { %>
            <tr>
                <% Object.keys(item).forEach(element => { %>
                    <td>
                        <% if(element == 'link') { %>
                        <a href="<%=item[element]%>"><%= new URL(item[element]).pathname %></a>
                        <% }else{ %>
                        <%=item[element]%>
                        <%} %>
                </td>
                    <%}); %>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>