<div class="table-wrapper">
    <table class="table">
        <thead>
        <tr>
            <th>
                Criterio
            </th>
            <th>
                Pagina in errore
            </th>
            <th>
                Errore
            </th>
        </tr>
        </thead>
        <tbody>
        <% items.forEach(item => { %>
            <tr>
                <% Object.keys(item).forEach(element => { %>
                    <td>
                        <% if(element == 'link' && item[element] && item[element].includes('temppagenotavailable')) { %>
                            Pagina non trovata
                        <% } else { %>
                            <% if(element == 'link' && item[element] && !!(new URL(item[element]))) { %>
                            <a href="<%=item[element]%>"><%= new URL(item[element]).pathname === '/' ? new URL(item[element]) : new URL(item[element]).pathname %></a>
                            <% }else{ %>
                            <%=item[element]%>
                            <%} %>
                            <%} %>
                </td>
                    <%}); %>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>